[Install]
WantedBy=plasma-workspace.target

[Unit]
Description=BSPWM
Before=plasma-workspace.target

[Service]
ExecStart=/usr/bin/bspwm
Slice=session.slice
Restart=on-failure
